In [1]:
import pandas as pd

In [2]:
s= pd.Series(['A','B','C'])

In [6]:
df1 = pd.DataFrame({
    "City": ['Mumbai', 'Bhubaneswar','Bengaluru'],
    "temp": [12,13,19],
    "wind": [5,6,23]})

In [7]:
df2 = pd.DataFrame({
    "City": ['Mumbai', 'Bhubaneswar','Bengaluru'],
    "temp": [12,13,19],
    "wind": [5,6,23]})

In [8]:
df = pd.concat([df1,s], axis=1)
df

          City  temp  wind  0
0       Mumbai    12     5  A
1  Bhubaneswar    13     6  B
2    Bengaluru    19    23  C